{% extends 'base.html.jinja' %}

{% block titlePage %} instruction List {% endblock %}

{% block content %}
<div class="hero">
    <ul class="list">
        <p>====================================================================</p>
        {% for instruction in instructionList %}
            <li>
                <p> <strong>Name of the Instruction</strong>: {{instruction.name}} </p>
                <p><strong>Description</strong>: {{instruction.description}}</p>
                <a href="/instruction/update/{{instruction._id}}" class="buttonLink"> Modify </a> <a href="/instruction/delete/{{instruction._id}}" class="buttonLink"> Delete </a>
                <p>====================================================================</p>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}