{% extends 'base.html.jinja' %}

{% block titlePage %} Modify Category {% endblock %}

{% block content %}

    <form method="POST">
            <div>
                <label for="name"> Name </label><br>
                <input type="text" name="name" 
                value="{{instruction.name}}"
                placeholder="">
            </div> 
            <br>
            <div>
                <label for="description"> Description </label>
                <br>
                <input type="text" name="description"
                value="{{instruction.description}}"
                placeholder="">
            </div>
            <br>
            <input type="submit" value="Update instruction">
            <br>
        </form>
{% endblock %}