{% extends 'base.html.jinja' %}

{% block titlePage %} Categories List {% endblock %}

{% block content %}
<div class="list">
    <ul>
    <p>====================================================================</p>
        {% for category in categoriesList %}
            <li>
                <p> Name of the Category: {{category.name}} </p>
                <p>Description: {{category.description}}</p>
                <a href="/category/update/{{category._id}}" class="buttonLink"> Modify </a> <a href="/category/delete/{{category._id}}" class="buttonLink"> Delete </a>
                <p>====================================================================</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}