{% extends 'base.html.jinja' %}

{% block titlePage %} Add Category {% endblock %}

{% block content %}

    <form method="POST">
            <div>
                <label for="name"> Name </label><br>
                <input type="text" name="name" 
                placeholder=""
                required>
            </div> 
            <br>
            <div>
                <label for="description"> Description </label>
                <br>
                <input type="text" name="description" 
                placeholder=""
                required>
            </div>
            <br>
            <input type="submit" value="Save">
            <br>
        </form>
{% endblock %}

{% block links %}
    <a href="{{url_for('categoriesListView')}}"> Categorires List <a/>
{% endblock %}