{% extends 'base.html.jinja' %}

{% block titlePage %} Modify Category {% endblock %}

{% block content %}

    <form method="POST">
            <div>
                <label for="name"> Name </label><br>
                <input type="text" name="name" 
                value="{{category.name}}"
                placeholder=""
                required>
            </div> 
            <br>
            <div>
                <label for="description"> Description </label>
                <br>
                <input type="text" name="description"
                value="{{category.description}}"
                placeholder=""
                required>
            </div>
            <br>
            <input type="submit" value="Update Category">
            <br>
        </form>
{% endblock %}