{% extends 'base.html.jinja' %}

{% block titlePage %} Modify Category {% endblock %}

{% block content %}
    <div class="form">
        <form method="POST">
            <div class="field">
                <label for="name"> Name </label><br>
                <input type="text" name="name" 
                class="input"
                placeholder=""
                value="{{category.name}}"
                required>
            </div> 
            <div class="field">
                <label for="description"> Description </label>
                <br>
                <input type="text" name="description"
                class="input"
                placeholder=""
                value="{{category.description}}"
                required>
            </div>
            <input type="submit" value="Save" class="button">
            <br>
            <div class="buttonLink">
                <a href="{{url_for('categoriesListView')}}" class="label"> Categories List <a/>
            <div>
        </form>
    </div>
{% endblock %}