{% extends 'base.html.jinja' %}

{% block titlePage %} Register {% endblock %}

{% block content %}
    <div class="form">
        <form method="POST">
            <div class="field">
                <label for="email"> Email </label><br>
                <div class="control has-icons-left">
                    <input type="text" name="email"
                    class="input"
                    placeholder="example123@gmail.com">
                </div>
            </div> 
            <div class="field">
                <label for="password"> Password </label>
                <div class="control has-icons-left">
                    <input type="text" name="password"
                    class="input"
                    placeholder="***********">
                </div>
            </div>
            <div class="field">
                <label for="username"> Username </label>
                <div class="control has-icons-left">
                    <input type="text" name="username"
                    class="input"
                    placeholder="example123">
                </div>
            </div>
            <br>
            <input type="submit" value="Submit" class="button">
        </form>
    </div>
    
{% endblock %}