:root {
    --bulma-primary-h: 265deg;
    --bulma-primary-s: 42%;
    --bulma-primary-l: 23%;
}

.login {
    width: 375px;
    height: 425px;
    background-color: #189090;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: solid 3px #bebebeef;
}

.login label{
    text-align: center;
    font-size: 1.33em;
    color: #ffffff;
}

.login input{
    border: solid 2px #ffffff;
    width: 295px;
    margin: 15px 0;
    position: relative;
}

.loginSubmit:hover{
    cursor: pointer;
    background-color: #d58f39
}

h1{
    display: flex;
    justify-content: space-around;
}

.content {
        display: flex;
        justify-content: center;
}