{% extends 'base.html.jinja' %}

{% block titlePage %} Login {% endblock %}

{% block content %}

    <form method="POST">
            <div>
                <label for="username"> Username </label><br>
                <input type="text" name="username" 
                placeholder="example123">
            </div> 
            <br>
            <div>
                <label for="password"> Password </label>
                <br>
                <input type="text" name="password" 
                placeholder="Castillo">
            </div>
            <br>
            <input type="submit" value="Submit">
            <br>
            <a href="{{ url_for('register') }}"> Register </a>
        </form>
{% endblock %}