{% extends 'base.html.jinja' %}

{% block titlePage %} Exams/Services {% endblock %}

{% block content %}

    <form method="POST">
            <div>
                <label for="examCode"> Exam/Service Code </label><br>
                <input type="text" name="examCode" 
                placeholder="000123"
                required>
            </div>
            <br>
            <div>
                <label for="name"> Name </label>
                <br>
                <input type="text" name="name"
                placeholder="type 1"
                required>
            </div>
            <br>
            <div>
                <label for="category"> Category </label>
                <br>
                <select name='category'>
                    {% for category in categories %}
                        <option value='{{category._id}}'> {{category.name}} </option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div>
                <label for="sampleType"> Sample Type </label>
                <br>
                <input type="text" name="sampleType" 
                placeholder="type 1"
                required>
            </div>
            <br>
            <div>
                <label for="cost"> Cost </label>
                <br>
                <input type="number" name="cost" 
                placeholder="00.0"
                required>
            </div>
            <br>
            <div>
                <label for="instruction"> Medical Instructions </label>
                <br>
                <select name='instruction'>
                    {% for instruction in instructionsList %}
                        <option value='{{instruction._id}}'> {{instruction.name}} </option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            <input type="submit" value="Save">
        </form>
{% endblock %}

{% block links %}
    <a href='/home'> Home </a>
    <br>
    <a href='/ExamsServices/List'> Exams/Services List </a>
{% endblock %}