{% extends 'base.html.jinja' %}

{% block titlePage %} Exams/Services Catalog {% endblock %}

{% block content %}
    <a href='./home'> Home </a>
    <br>
    <form>
        <h3>Filters<h3>
        <br>
        <div>
            <input>

            </input>
        </div>
    </form>
    <br>
    <table>
        <tr>
            <th> Code </th> 
            <th> Sample Type </th> 
            <th> Cost </th> 
            <th> Options </th> 
        </tr>
        {% for exam in examList %}
            <tr>
                <td> {{exam.code}} </td> 
                <td> {{exam.name}} </td> 
                <td> {{exam.sampleType}} </td> 
                <td> {{exam.cost}}Bs </td> 
                <td>
                    <a href="/ExamsServices/Details/{{exam._id}}"> Details </a>
                    <a href="/ExamsServices/Update/{{exam._id}}"> Modify </a>
                    <a href="/ExamsServices/DelExamService/{{exam._id}}"> Delete </a>
                </td> 
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block links %}
    <a href="/home"> Home </a>
{% endblock %}